.centrar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
} 
.titulo {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -5%);
} 